.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-creds{
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
}